<div class="w-50 mx-auto mt-5">
  <form [formGroup]="productFrom" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input matInput id="name" type="text" formControlName="name">
      <mat-error *ngIf="productFrom.hasError('required', 'name')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Calories</mat-label>
      <input matInput id="calories" type="text" formControlName="calories">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Total Fat</mat-label>
      <input matInput id="total_fat" type="text" formControlName="total_fat">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Cholesterol</mat-label>
      <input matInput id="cholesterol" type="text" formControlName="cholesterol">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Sodium</mat-label>
      <input matInput id="sodium" type="text" formControlName="sodium">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Total Carbohydrate</mat-label>
      <input matInput id="total_carbohydrate" type="text" formControlName="total_carbohydrate">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Protein</mat-label>
      <input matInput id="protein" type="text" formControlName="protein">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="w-100">Save</button>
  </form>
</div>
