<div class="w-75 mx-auto mt-5">

  <div class="d-flex justify-content-between">
    <button mat-raised-button color="primary" (click)="goToAddProduct()">Adicionar</button>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </div>

  <table mat-table [dataSource]="products" class="mat-elevation-z8 mt-5">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Calories Column -->
    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef>
        Calories
      </th>
      <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
    </ng-container>

    <!-- Total Fat Column -->
    <ng-container matColumnDef="total_fat">
      <th mat-header-cell *matHeaderCellDef>
        Total Fat
      </th>
      <td mat-cell *matCellDef="let element"> {{element.total_fat}} </td>
    </ng-container>

    <!-- Total Cholesterol -->
    <ng-container matColumnDef="cholesterol">
      <th mat-header-cell *matHeaderCellDef>
        Cholesterol
      </th>
      <td mat-cell *matCellDef="let element"> {{element.cholesterol}} </td>
    </ng-container>

    <!-- Total Sodium -->
    <ng-container matColumnDef="sodium">
      <th mat-header-cell *matHeaderCellDef>
        Sodium
      </th>
      <td mat-cell *matCellDef="let element"> {{element.sodium}} </td>
    </ng-container>

    <!-- Total Total Carbohydrate -->
    <ng-container matColumnDef="total_carbohydrate">
      <th mat-header-cell *matHeaderCellDef>
        Total Carbohydrate
      </th>
      <td mat-cell *matCellDef="let element"> {{element.total_carbohydrate}} </td>
    </ng-container>

    <!-- Total Protein -->
    <ng-container matColumnDef="protein">
      <th mat-header-cell *matHeaderCellDef>
        Protein
      </th>
      <td mat-cell *matCellDef="let element"> {{element.protein}} </td>
    </ng-container>

    <!-- Total Protein -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
          [routerLink]="['/products/edit', element.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a home icon"
          (click)="deleteProduct(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
