<div class="border-black border-1 border p-4 w-100">
  <p class="text-center">INFORMAÇÃO NUTRICIONAL</p>
  <p class="text-center">{{product.name}}</p>
  <table class="table">
    <tbody>
    <tr>
      <td>Valor energético (kcal)</td>
      <td>{{product.calories}}</td>
    </tr>
    <tr>
      <td>Gorduras totais (g)</td>
      <td>{{product.total_fat}}</td>
    </tr>
    <tr>
      <td>Sódio (mg)</td>
      <td>{{product.sodium}}</td>
    </tr>
    <tr>
      <td>Carboidratos totais (g)</td>
      <td>{{product.total_carbohydrate}}</td>
    </tr>
    <tr>
      <td>Proteínas (g)</td>
      <td>{{product.protein}}</td>
    </tr>
  </table>
</div>
